.header.category{
    justify-content: center;
}
.container {
    position: relative;
}

.left-sidebar {
    position: relative;
    width: 220px; /* 사이드바의 너비 설정 */
}

.profile-area {
    position: relative;
    width: 280px; /* 프로필 영역의 너비 설정 */
    top: 0;
    right: 0;
}

.content-area {
    position: relative;
    width: calc(100% - 500px); /* 왼쪽 사이드바와 프로필 영역의 너비를 빼고 남는 공간 */
    top: 0;
    left: 220px; /* 왼쪽 사이드바의 너비만큼 왼쪽으로 밀어줌 */
}