.left-side-link{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 0;
    .bi-house{
        font-size: 20px;
        margin-right: 10px; /* 예시로 5px 간격을 설정 */
        color: #ffffff;
    }
    .bi-search{
        font-size: 20px;
        margin-right: 10px;
        color: #ffffff;
    }
    .bi-person-workspace{
        font-size: 20px;
        margin-right: 10px;
        color: #ffffff;
    }
    .bi-exclamation-square{
        font-size: 20px;
        margin-right: 10px;
        color: #ffffff;
    }
    .bi-calendar4{
        font-size: 20px;
        margin-right: 10px;
        color: #ffffff;
    }
    .bi-book{
        font-size: 20px;
        margin-right: 10px;
        color: #ffffff;
    }
}
.offcanvas-header{
    padding-bottom: 0;
}
.offcanvas-title{
    color: #ffffff;
}
.nav-link{
    width:100%;
    font-size: 22px;
    text-align: left;
    color: #dcdcdd;
}
.nav-link:hover{
    color: #ffffff;
    text-decoration-line: underline;
   transition: all 1s ease;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 1s ease;
}

.nav-link:hover::after {
    width: 100%;
}
.btn-toggle-nav .nav-item {
    display: flex; /* 플렉스 박스 레이아웃 설정 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 100%; /* 필요에 따라 높이 설정 */
}
.nav-link-light {
    color: #f8f9fa; /* Text color for light outline button */
}
.nav-link-light:hover {
    color: #292421; /* Text color on hover */
}
.content-area {
    position: relative;
    width: calc(100% - 300px); /* 왼쪽 사이드바와 프로필 영역의 너비를 빼고 남는 공간 */
    margin-top: 166px;
    left: 150px; /* 왼쪽 사이드바의 너비만큼 왼쪽으로 밀어줌 */

    border-radius: 20px;
    margin-bottom: 100px;
}
.light{
    color: #ffffff;
}
.profile {
    border-radius: 100px;
    width:50px;
    height:50px;
    object-fit: cover;
    overflow: hidden;
    margin-right: 15px;
}
.header-user-info{
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    .user-name{
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
.dropdown-btn-outline-light{
    color:#ffffff;
}
.board-title{
    background: #ffffff;
    height:100px;
    position: relative;
    border-radius: 20px;
    margin-bottom: 10px;

    .title{
        display:flex ;
        position: absolute;

        left:16px;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}
.header-top{
    background-color: #a5abc9;
}
.left-side{
    background-color:#204f7e;
}
.body{
    background-color: #eff5fb;
}
.form-control{
    background-color: #ffffff;
}
.form-select{
    background-color: #ffffff;
}
